
<h1 class="text-center">All Restaurants</h1>


<div class="container">
  <div class="row">
      <% @restaurants.each do |restaurant|%>

      <div class="col-xs-12 col-sm-4">
        <div class="card">
        <ul class="list-unstyled">
          <li><h3><%= link_to restaurant.name, restaurant_path(restaurant) %></h3></li>
          <li><%= restaurant.address %></li>
          <li><%= restaurant.phone_number %></li>
          <li><%= restaurant.category %></li>
        </ul>
        </div>
      </div>
      <%end%>

  </div>
</div>
